set colored-completion-prefix on
set colored-stats on
set show-all-if-ambiguous on
set enable-keypad on
set mark-symlinked-directories on

$if term=st
"\C-H": backward-kill-word
$endif
$if term=screen
"\C-H": backward-kill-word
$endif
